In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "data_1.0.csv"

# Read purchasing file and store into pandas data frame
df = pd.read_csv(file_to_load)

#print intial summary head() table
df.head()

/Users/macbookpro/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,11/16/2018,0:10,MANHATTAN,10010,40.742275,-73.988914,"(40.742275, -73.988914)",5 AVENUE,BROADWAY,NaN,...,Unspecified,NaN,NaN,NaN,4021880,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,11/16/2018,0:40,NaN,NaN,40.762720,-73.728170,"(40.76272, -73.72817)",LONG ISLAND EXPRESSWAY,NaN,NaN,...,Pavement Slippery,NaN,NaN,NaN,4021727,Sedan,Pick-up Truck,NaN,NaN,NaN
2,11/16/2018,0:45,BROOKLYN,11211,40.710197,-73.958430,"(40.710197, -73.95843)",BORINQUEN PLACE,HAVEMEYER STREET,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4021791,Taxi,Taxi,NaN,NaN,NaN
3,11/16/2018,1:00,BRONX,10454,40.803555,-73.911840,"(40.803555, -73.91184)",EAST 137 STREET,WILLOW AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4021878,Garbage or Refuse,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,11/16/2018,1:00,BROOKLYN,11221,40.694923,-73.915565,"(40.694923, -73.915565)",WILSON AVENUE,PALMETTO STREET,NaN,...,Unspecified,NaN,NaN,NaN,4021848,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [2]:
df.dropna(subset = ['BOROUGH', 'LATITUDE', 'LONGITUDE'])

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,11/16/2018,0:10,MANHATTAN,10010,40.742275,-73.988914,"(40.742275, -73.988914)",5 AVENUE,BROADWAY,NaN,...,Unspecified,NaN,NaN,NaN,4021880,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,11/16/2018,0:45,BROOKLYN,11211,40.710197,-73.958430,"(40.710197, -73.95843)",BORINQUEN PLACE,HAVEMEYER STREET,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4021791,Taxi,Taxi,NaN,NaN,NaN
3,11/16/2018,1:00,BRONX,10454,40.803555,-73.911840,"(40.803555, -73.91184)",EAST 137 STREET,WILLOW AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4021878,Garbage or Refuse,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,11/16/2018,1:00,BROOKLYN,11221,40.694923,-73.915565,"(40.694923, -73.915565)",WILSON AVENUE,PALMETTO STREET,NaN,...,Unspecified,NaN,NaN,NaN,4021848,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
7,11/16/2018,2:50,BRONX,10451,40.819057,-73.929230,"(40.819057, -73.92923)",EAST 149 STREET,GERARD AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4021864,Taxi,Taxi,NaN,NaN,NaN
9,11/16/2018,5:30,QUEENS,11417,40.678870,-73.834190,"(40.67887, -73.83419)",ROCKAWAY BOULEVARD,CENTREVILLE AVENUE,NaN,...,NaN,NaN,NaN,NaN,4021833,NaN,NaN,NaN,NaN,NaN
10,11/16/2018,5:45,MANHATTAN,10128,40.779180,-73.950800,"(40.77918, -73.9508)",EAST 88 STREET,2 AVENUE,NaN,...,NaN,NaN,NaN,NaN,4021904,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
12,11/16/2018,6:02,BROOKLYN,11206,40.700000,-73.940640,"(40.7, -73.94064)",NaN,NaN,787 BROADWAY,...,Driver Inattention/Distraction,NaN,NaN,NaN,4021892,Garbage or Refuse,Sedan,NaN,NaN,NaN
13,11/16/2018,6:10,MANHATTAN,10128,40.781690,-73.948970,"(40.78169, -73.94897)",EAST 92 STREET,2 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4021859,Sedan,Sedan,NaN,NaN,NaN
14,11/15/2018,0:00,BROOKLYN,11228,40.620872,-74.002210,"(40.620872, -74.00221)",NaN,NaN,1421 71 STREET,...,Alcohol Involvement,Unspecified,NaN,NaN,4021704,Sedan,Sedan,Sedan,NaN,NaN
15,11/15/2018,0:00,QUEENS,11004,40.752037,-73.721100,"(40.752037, -73.7211)",LITTLE NECK PARKWAY,260 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4021596,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
16,11/15/2018,0:00,QUEENS,11368,40.749890,-73.862590,"(40.74989, -73.86259)",NaN,NaN,103-03 ROOSEVELT AVENUE,...,Unspecified,NaN,NaN,NaN,4021503,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
17,11/15/2018,0:00,QUEENS,11375,40.716140,-73.833570,"(40.71614, -73.83357)",QUEENS BOULEVARD,77 AVENUE,NaN,...,Unspecified,Unspecified,NaN,NaN,4021235,Sedan,Sedan,Sedan,NaN,NaN
21,11/15/2018,0:00,QUEENS,11413,40.666405,-73.745380,"(40.666405, -73.74538)",NORTH CONDUIT AVENUE,230 PLACE,NaN,...,NaN,NaN,NaN,NaN,4021563,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
22,11/15/2018,0:17,BROOKLYN,11204,40.610115,-73.984890,"(40.610115, -73.98489)",AVENUE O,WEST 11 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4020952,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
25,11/15/2018,10:00,BROOKLYN,11230,40.626840,-73.968480,"(40.62684, -73.96848)",AVENUE I,EAST 8 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4021808,Sedan,Dump,NaN,NaN,NaN
26,11/15/2018,10:00,QUEENS,11434,40.659650,-73.773834,"(40.65965, -73.773834)",ROCKAWAY BOULEVARD,FARMERS BOULEVARD,NaN,...,NaN,NaN,NaN,NaN,4021414,Sedan,NaN,NaN,NaN,NaN
28,11/15/2018,10:00,BROOKLYN,11229,40.604786,-73.958470,"(40.604786, -73.95847)",NaN,NaN,1835 EAST 14 STREET,...,NaN,NaN,NaN,NaN,4021389,Sedan,NaN,NaN,NaN,NaN
29,11/15/2018,10:09,QUEENS,11374,40.728657,-73.863266,"(40.728657, -73.863266)",BOOTH STREET,63 DRIVE,NaN,...,Unspecified,NaN,NaN,NaN,4021355,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
30,11/15/2018,10:10,QUEENS,11378,40.722717,-73.919914,"(40.722717, -73.919914)",NaN,NaN,48-85 MASPETH AVENUE,...,Unspecified,NaN,NaN,NaN,4021443,Tractor Truck Diesel,Tanker,NaN,NaN,NaN
32,11/15/2018,10:15,MANHATTAN,10036,40.764904,-73.996185,"(40.764904, -73.996185)",NaN,NaN,621 WEST 48 STREET,...,Unspecified,NaN,NaN,NaN,4021372,Box Truck,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
33,11/15/2018,10:30,BROOKLYN,11215,40.671920,-73.993970,"(40.67192, -73.99397)",NaN,NaN,118 2 AVENUE,...,Unspecified,Unspecified,NaN,NaN,4021905,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,NaN,NaN
34,11/15/2018,10:30,BROOKLYN,11230,40.626850,-73.976430,"(40.62685, -73.97643)",NaN,NaN,1080 MC DONALD AVENUE,...,Unspecified,NaN,NaN,NaN,4021811,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
36,11/15/2018,10:35,BROOKLYN,11229,40.610120,-73.961105,"(40.61012, -73.961105)",NaN,NaN,1220 AVENUE P,...,Unspecified,NaN,NaN,NaN,4021390,Bike,Sedan,NaN,NaN,NaN
37,11/15/2018,10:36,BRONX,10473,40.815006,-73.845250,"(40.815006, -73.84525)",ZEREGA AVENUE,NORTON AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4021419,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
39,11/15/2018,10:42,MANHATTAN,10036,40.754158,-73.982480,"(40.754158, -73.98248)",NaN,NaN,49 WEST 42 STREET,...,Unspecified,NaN,NaN,NaN,4021508,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
40,11/15/2018,10:43,MANHATTAN,10065,40.765410,-73.967980,"(40.76541, -73.96798)",PARK AVENUE,EAST 63 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4021834,Taxi,Taxi,NaN,NaN,NaN
41,11/15/2018,10:59,BROOKLYN,11215,40.674805,-73.978400,"(40.674805, -73.9784)",PRESIDENT STREET,6 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4021881,Station Wagon/Sport Utility Vehicle,Tractor Truck Diesel,NaN,NaN,NaN
45,11/15/2018,11:02,QUEENS,11385,40.705936,-73.857340,"(40.705936, -73.85734)",NaN,NaN,89-89 UNION TURNPIKE,...,NaN,NaN,NaN,NaN,4021433,Box Truck,NaN,NaN,NaN,NaN
48,11/15/2018,11:16,BRONX,10456,40.820156,-73.908340,"(40.820156, -73.90834)",NaN,NaN,645 EAST 158 STREET,...,Unspecified,NaN,NaN,NaN,4021359,Sedan,Sedan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1385967,07/01/2012,8:00,BROOKLYN,11233,40.683160,-73.938078,"(40.6831597, -73.9380784)",HALSEY STREET,MARCUS GARVEY BOULEVARD,NaN,...,Unspecified,Unspecified,NaN,NaN,182648,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN
1385968,07/01/2012,8:00,QUEENS,11004,40.751826,-73.719206,"(40.7518264, -73.7192065)",LANGSTON AVENUE,260 STREET,NaN,...,Unspecified,NaN,NaN,NaN,219397,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1385970,07/01/2012,8:07,MANHATTAN,10009,40.721678,-73.980605,"(40.7216783, -73.9806054)",EAST 3 STREET,AVENUE C,NaN,...,Unspecified,NaN,NaN,NaN,13868,TAXI,TAXI,NaN,NaN,NaN
1385971,07/01/2012,8:08,BROOKLYN,11233,40.672791,-73.922215,"(40.6727913, -73.9222153)",RALPH AVENUE,PROSPECT PLACE,NaN,...,Unspecified,NaN,NaN,NaN,172550,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1385972,07/01/2012,8:15,QUEENS,11373,40.739979,-73.877108,"(40.7399795, -73.8771085)",87 STREET,CORONA AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,254993,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1385973,07/01/2012,8:27,BROOKLYN,11216,40.680857,-73.938546,"(40.6808571, -73.9385457)",DECATUR STREET,ALBANY AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,179414,PASSENGER VEHICLE,LIVERY VEHICLE,NaN,NaN,NaN
1385976,07/01/2012,8:34,BROOKLYN,11213,40.668798,-73.931120,"(40.6687978, -73.9311201)",EASTERN PARKWAY,UTICA AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,172551,PASSENGER VEHICLE,VAN,NaN,NaN,NaN
1385977,07/01/2012,8:37,QUEENS,11435,40.694545,-73.802112,"(40.6945453, -73.802112)",SOUTH ROAD,SUTPHIN BOULEVARD,NaN,...,NaN,NaN,NaN,NaN,208724,UNKNOWN,NaN,NaN,NaN,NaN
1385978,07/01/2012,8:58,BRONX,10466,40.891840,-73.862740,"(40.8918398, -73.8627401)",BRONX BOULEVARD,EAST 229 STREET,NaN,...,Unspecified,NaN,NaN,NaN,94868,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
1385979,07/01/2012,9:00,QUEENS,11101,40.744131,-73.927047,"(40.7441309, -73.9270473)",38 STREET,QUEENS BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,238643,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1385980,07/01/2012,9:00,MANHATTAN,10022,40.757859,-73.975592,"(40.7578587, -73.975592)",EAST 50 STREET,MADISON AVENUE,NaN,...,NaN,NaN,NaN,NaN,37634,TAXI,NaN,NaN,NaN,NaN
1385981,07/01/2012,9:15,BROOKLYN,11233,40.675380,-73.908196,"(40.6753803, -73.9081956)",PACIFIC STREET,EASTERN PARKWAY,NaN,...,Unspecified,NaN,NaN,NaN,160103,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1385982,07/01/2012,9:15,QUEENS,11421,40.696308,-73.851549,"(40.6963077, -73.8515486)",94 STREET,85 ROAD,NaN,...,Unspecified,NaN,NaN,NaN,203690,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1385983,07/01/2012,9:15,QUEENS,11429,40.711860,-73.735538,"(40.7118601, -73.7355383)",219 STREET,104 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,219394,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1385984,07/01/2012,9:15,STATEN ISLAND,10310,40.634748,-74.112253,"(40.6347476, -74.1122528)",CASTLETON AVENUE,BEMENT AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,284646,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1385986,07/01/2012,9:24,QUEENS,11411,40.690917,-73.728179,"(40.6909168, -73.7281786)",LINDEN BOULEVARD,234 STREET,NaN,...,Unspecified,NaN,NaN,NaN,219398,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1385987,07/01/2012,9:30,BRONX,10475,40.861637,-73.824326,"(40.8616372, -73.8243256)",HUNTER AVENUE,EARHART LANE,NaN,...,Unspecified,NaN,NaN,NaN,88535,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1385988,07/01/2012,9:30,BROOKLYN,11219,40.626826,-73.996790,"(40.626826, -73.9967902)",61 STREET,NEW UTRECHT AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,129899,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1385989,07/01/2012,9:30,QUEENS,11368,40.755336,-73.843245,"(40.7553365, -73.8432452)",ROOSEVELT AVENUE,126 STREET,NaN,...,Unspecified,Unspecified,NaN,NaN,254997,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN
1385990,07/01/2012,9:30,BROOKLYN,11207,40.678163,-73.897477,"(40.6781627, -73.8974769)",JAMAICA AVENUE,PENNSYLVANIA AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,163374,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
1385991,07/01/2012,9:39,BROOKLYN,11226,40.646518,-73.958105,"(40.6465177, -73.958105)",TILDEN AVENUE,FLATBUSH AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,147454,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
1385992,07/01/2012,9:40,BRONX,10462,40.839882,-73.857658,"(40.8398819, -73.8576576)",METROPOLITAN AVENUE,MAPLE DRIVE,NaN,...,Unspecified,NaN,NaN,NaN,80827,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1385993,07/01/2012,9:40,MANHATTAN,10002,40.714069,-73.997504,"(40.7140687, -73.9975038)",DIVISION STREET,CATHERINE STREET,NaN,...,Driver Inexperience,NaN,NaN,NaN,5294,PASSENGER VEHICLE,LIVERY VEHICLE,NaN,NaN,NaN
1385994,07/01/2012,9:40,QUEENS,11354,40.764455,-73.831773,"(40.7644548, -73.831773)",35 AVENUE,FARRINGTON STREET,NaN,...,Unspecified,NaN,NaN,NaN,245559,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1385995,07/01/2012,9:40,QUEENS,11369,40.767470,-73.881859,"(40.7674704, -73.8818593)",23 AVENUE,88 STREET,NaN,...,Unspecified,NaN,NaN,NaN,279641,PICK-UP TRUCK,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1385996,07/01/2012,9:40,QUEENS,11370,40.758743,-73.890690,"(40.7587426, -73.8906895)",31 AVENUE,77 STREET,NaN,...,Unspecified,NaN,NaN,NaN,279639,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
1385998,07/01/2012,9:50,MANHATTAN,10019,40.766779,-73.996762,"(40.7667789, -73.9967618)",WEST SIDE HIGHWAY,WEST 50 STREET,NaN,...,Unspecified,NaN,NaN,NaN,37635,VAN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1385999,07/01/2012,9:50,QUEENS,11001,40.736245,-73.702966,"(40.7362448, -73.7029656)",265 STREET,85 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,219395,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1386000,07/01/2012,9:57,MANHATTAN,10065,40.765242,-73.957868,"(40.7652424, -73.9578679)",1 AVENUE,EAST 68 STREET,NaN,...,Other Vehicular,NaN,NaN,NaN,44907,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN
1386001,07/01/2012,9:59,BRONX,10452,40.835397,-73.920305,"(40.835397, -73.920305)",EAST 167 STREET,GERARD AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,85154,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN

In [3]:
df.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,11/16/2018,0:10,MANHATTAN,10010,40.742275,-73.988914,"(40.742275, -73.988914)",5 AVENUE,BROADWAY,NaN,...,Unspecified,NaN,NaN,NaN,4021880,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,11/16/2018,0:40,NaN,NaN,40.762720,-73.728170,"(40.76272, -73.72817)",LONG ISLAND EXPRESSWAY,NaN,NaN,...,Pavement Slippery,NaN,NaN,NaN,4021727,Sedan,Pick-up Truck,NaN,NaN,NaN
2,11/16/2018,0:45,BROOKLYN,11211,40.710197,-73.958430,"(40.710197, -73.95843)",BORINQUEN PLACE,HAVEMEYER STREET,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4021791,Taxi,Taxi,NaN,NaN,NaN
3,11/16/2018,1:00,BRONX,10454,40.803555,-73.911840,"(40.803555, -73.91184)",EAST 137 STREET,WILLOW AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4021878,Garbage or Refuse,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,11/16/2018,1:00,BROOKLYN,11221,40.694923,-73.915565,"(40.694923, -73.915565)",WILSON AVENUE,PALMETTO STREET,NaN,...,Unspecified,NaN,NaN,NaN,4021848,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [4]:
df = df.drop(columns=['ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME'])

In [5]:
df.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,11/16/2018,0:10,MANHATTAN,10010,40.742275,-73.988914,"(40.742275, -73.988914)",0.0,0.0,0,...,Unspecified,NaN,NaN,NaN,4021880,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,11/16/2018,0:40,NaN,NaN,40.762720,-73.728170,"(40.76272, -73.72817)",0.0,0.0,0,...,Pavement Slippery,NaN,NaN,NaN,4021727,Sedan,Pick-up Truck,NaN,NaN,NaN
2,11/16/2018,0:45,BROOKLYN,11211,40.710197,-73.958430,"(40.710197, -73.95843)",4.0,0.0,0,...,Driver Inattention/Distraction,NaN,NaN,NaN,4021791,Taxi,Taxi,NaN,NaN,NaN
3,11/16/2018,1:00,BRONX,10454,40.803555,-73.911840,"(40.803555, -73.91184)",0.0,0.0,0,...,Unspecified,NaN,NaN,NaN,4021878,Garbage or Refuse,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,11/16/2018,1:00,BROOKLYN,11221,40.694923,-73.915565,"(40.694923, -73.915565)",0.0,0.0,0,...,Unspecified,NaN,NaN,NaN,4021848,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [6]:
df = df.drop(columns=['UNIQUE KEY', 'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5'])

In [7]:
df.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,...,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,11/16/2018,0:10,MANHATTAN,10010,40.742275,-73.988914,"(40.742275, -73.988914)",0.0,0.0,0,...,0,0,0,Unspecified,Unspecified,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,11/16/2018,0:40,NaN,NaN,40.762720,-73.728170,"(40.76272, -73.72817)",0.0,0.0,0,...,0,0,0,Pavement Slippery,Pavement Slippery,Sedan,Pick-up Truck,NaN,NaN,NaN
2,11/16/2018,0:45,BROOKLYN,11211,40.710197,-73.958430,"(40.710197, -73.95843)",4.0,0.0,0,...,0,4,0,Driver Inattention/Distraction,Driver Inattention/Distraction,Taxi,Taxi,NaN,NaN,NaN
3,11/16/2018,1:00,BRONX,10454,40.803555,-73.911840,"(40.803555, -73.91184)",0.0,0.0,0,...,0,0,0,Pavement Slippery,Unspecified,Garbage or Refuse,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,11/16/2018,1:00,BROOKLYN,11221,40.694923,-73.915565,"(40.694923, -73.915565)",0.0,0.0,0,...,0,0,0,Pavement Slippery,Unspecified,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [8]:
df = df.drop(columns=['ZIP CODE'])

In [9]:
df.head()

,DATE,TIME,BOROUGH,LATITUDE,LONGITUDE,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,...,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,11/16/2018,0:10,MANHATTAN,40.742275,-73.988914,"(40.742275, -73.988914)",0.0,0.0,0,0,...,0,0,0,Unspecified,Unspecified,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,11/16/2018,0:40,NaN,40.762720,-73.728170,"(40.76272, -73.72817)",0.0,0.0,0,0,...,0,0,0,Pavement Slippery,Pavement Slippery,Sedan,Pick-up Truck,NaN,NaN,NaN
2,11/16/2018,0:45,BROOKLYN,40.710197,-73.958430,"(40.710197, -73.95843)",4.0,0.0,0,0,...,0,4,0,Driver Inattention/Distraction,Driver Inattention/Distraction,Taxi,Taxi,NaN,NaN,NaN
3,11/16/2018,1:00,BRONX,40.803555,-73.911840,"(40.803555, -73.91184)",0.0,0.0,0,0,...,0,0,0,Pavement Slippery,Unspecified,Garbage or Refuse,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,11/16/2018,1:00,BROOKLYN,40.694923,-73.915565,"(40.694923, -73.915565)",0.0,0.0,0,0,...,0,0,0,Pavement Slippery,Unspecified,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [10]:
df = df.rename(columns={"LATITUDE": "LAT"})
df = df.rename(columns={"LONGITUDE": "LONG"})

In [11]:
df.head()

,DATE,TIME,BOROUGH,LAT,LONG,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,...,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,11/16/2018,0:10,MANHATTAN,40.742275,-73.988914,"(40.742275, -73.988914)",0.0,0.0,0,0,...,0,0,0,Unspecified,Unspecified,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,11/16/2018,0:40,NaN,40.762720,-73.728170,"(40.76272, -73.72817)",0.0,0.0,0,0,...,0,0,0,Pavement Slippery,Pavement Slippery,Sedan,Pick-up Truck,NaN,NaN,NaN
2,11/16/2018,0:45,BROOKLYN,40.710197,-73.958430,"(40.710197, -73.95843)",4.0,0.0,0,0,...,0,4,0,Driver Inattention/Distraction,Driver Inattention/Distraction,Taxi,Taxi,NaN,NaN,NaN
3,11/16/2018,1:00,BRONX,40.803555,-73.911840,"(40.803555, -73.91184)",0.0,0.0,0,0,...,0,0,0,Pavement Slippery,Unspecified,Garbage or Refuse,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,11/16/2018,1:00,BROOKLYN,40.694923,-73.915565,"(40.694923, -73.915565)",0.0,0.0,0,0,...,0,0,0,Pavement Slippery,Unspecified,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [12]:
df = df.rename(columns={"CONTRIBUTING FACTOR VEHICLE 1": "CFV1"})
df = df.rename(columns={"CONTRIBUTING FACTOR VEHICLE 2": "CFV2"})

In [13]:
df.head()

,DATE,TIME,BOROUGH,LAT,LONG,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,...,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CFV1,CFV2,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,11/16/2018,0:10,MANHATTAN,40.742275,-73.988914,"(40.742275, -73.988914)",0.0,0.0,0,0,...,0,0,0,Unspecified,Unspecified,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,11/16/2018,0:40,NaN,40.762720,-73.728170,"(40.76272, -73.72817)",0.0,0.0,0,0,...,0,0,0,Pavement Slippery,Pavement Slippery,Sedan,Pick-up Truck,NaN,NaN,NaN
2,11/16/2018,0:45,BROOKLYN,40.710197,-73.958430,"(40.710197, -73.95843)",4.0,0.0,0,0,...,0,4,0,Driver Inattention/Distraction,Driver Inattention/Distraction,Taxi,Taxi,NaN,NaN,NaN
3,11/16/2018,1:00,BRONX,40.803555,-73.911840,"(40.803555, -73.91184)",0.0,0.0,0,0,...,0,0,0,Pavement Slippery,Unspecified,Garbage or Refuse,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,11/16/2018,1:00,BROOKLYN,40.694923,-73.915565,"(40.694923, -73.915565)",0.0,0.0,0,0,...,0,0,0,Pavement Slippery,Unspecified,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [14]:
#Drop rows that contain Unspecified in CFV1
df = df[df.CFV1 != 'Unspecified']

In [15]:
df.head()

,DATE,TIME,BOROUGH,LAT,LONG,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,...,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CFV1,CFV2,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
1,11/16/2018,0:40,NaN,40.762720,-73.728170,"(40.76272, -73.72817)",0.0,0.0,0,0,...,0,0,0,Pavement Slippery,Pavement Slippery,Sedan,Pick-up Truck,NaN,NaN,NaN
2,11/16/2018,0:45,BROOKLYN,40.710197,-73.958430,"(40.710197, -73.95843)",4.0,0.0,0,0,...,0,4,0,Driver Inattention/Distraction,Driver Inattention/Distraction,Taxi,Taxi,NaN,NaN,NaN
3,11/16/2018,1:00,BRONX,40.803555,-73.911840,"(40.803555, -73.91184)",0.0,0.0,0,0,...,0,0,0,Pavement Slippery,Unspecified,Garbage or Refuse,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,11/16/2018,1:00,BROOKLYN,40.694923,-73.915565,"(40.694923, -73.915565)",0.0,0.0,0,0,...,0,0,0,Pavement Slippery,Unspecified,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
5,11/16/2018,1:20,NaN,40.804700,-73.912430,"(40.8047, -73.91243)",1.0,0.0,1,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
#Drop rows that contain Unspecified in CFV2
df = df[df.CFV2 != 'Unspecified']

In [17]:
df.head()

,DATE,TIME,BOROUGH,LAT,LONG,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,...,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CFV1,CFV2,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
1,11/16/2018,0:40,NaN,40.762720,-73.728170,"(40.76272, -73.72817)",0.0,0.0,0,0,...,0,0,0,Pavement Slippery,Pavement Slippery,Sedan,Pick-up Truck,NaN,NaN,NaN
2,11/16/2018,0:45,BROOKLYN,40.710197,-73.958430,"(40.710197, -73.95843)",4.0,0.0,0,0,...,0,4,0,Driver Inattention/Distraction,Driver Inattention/Distraction,Taxi,Taxi,NaN,NaN,NaN
5,11/16/2018,1:20,NaN,40.804700,-73.912430,"(40.8047, -73.91243)",1.0,0.0,1,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,11/16/2018,5:30,QUEENS,40.678870,-73.834190,"(40.67887, -73.83419)",1.0,0.0,1,0,...,0,0,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,NaN,NaN
11,11/16/2018,6:00,NaN,40.743150,-73.831924,"(40.74315, -73.831924)",0.0,0.0,0,0,...,0,0,0,Passing or Lane Usage Improper,Passing or Lane Usage Improper,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [18]:
df.dropna(subset = ['CFV1', 'CFV2', 'BOROUGH'])

,DATE,TIME,BOROUGH,LAT,LONG,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,...,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CFV1,CFV2,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
2,11/16/2018,0:45,BROOKLYN,40.710197,-73.958430,"(40.710197, -73.95843)",4.0,0.0,0,0,...,0,4,0,Driver Inattention/Distraction,Driver Inattention/Distraction,Taxi,Taxi,NaN,NaN,NaN
12,11/16/2018,6:02,BROOKLYN,40.700000,-73.940640,"(40.7, -73.94064)",0.0,0.0,0,0,...,0,0,0,Following Too Closely,Driver Inattention/Distraction,Garbage or Refuse,Sedan,NaN,NaN,NaN
14,11/15/2018,0:00,BROOKLYN,40.620872,-74.002210,"(40.620872, -74.00221)",0.0,0.0,0,0,...,0,0,0,Failure to Yield Right-of-Way,Alcohol Involvement,Sedan,Sedan,Sedan,NaN,NaN
51,11/15/2018,11:25,QUEENS,40.745033,-73.870010,"(40.745033, -73.87001)",0.0,0.0,0,0,...,0,0,0,Following Too Closely,Driver Inattention/Distraction,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
65,11/15/2018,12:20,BRONX,40.815360,-73.915955,"(40.81536, -73.915955)",0.0,0.0,0,0,...,0,0,0,Passing Too Closely,Passing Too Closely,Sedan,Tanker,NaN,NaN,NaN
67,11/15/2018,12:20,MANHATTAN,40.755756,-73.964790,"(40.755756, -73.96479)",0.0,0.0,0,0,...,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
68,11/15/2018,12:25,BRONX,40.845863,-73.880010,"(40.845863, -73.88001)",0.0,0.0,0,0,...,0,0,0,Other Vehicular,Reaction to Uninvolved Vehicle,Bus,Sedan,NaN,NaN,NaN
78,11/15/2018,13:00,QUEENS,40.745647,-73.881660,"(40.745647, -73.88166)",0.0,0.0,0,0,...,0,0,0,Traffic Control Disregarded,Passing Too Closely,Station Wagon/Sport Utility Vehicle,Box Truck,NaN,NaN,NaN
99,11/15/2018,14:15,STATEN ISLAND,40.559500,-74.166700,"(40.5595, -74.1667)",0.0,0.0,0,0,...,0,0,0,Other Vehicular,Following Too Closely,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
149,11/15/2018,15:21,BROOKLYN,40.615707,-74.001460,"(40.615707, -74.00146)",2.0,0.0,0,0,...,0,2,0,Failure to Yield Right-of-Way,Pavement Slippery,Sedan,Sedan,NaN,NaN,NaN
165,11/15/2018,15:30,QUEENS,40.671566,-73.784660,"(40.671566, -73.78466)",1.0,0.0,0,0,...,0,1,0,Driver Inattention/Distraction,Driver Inattention/Distraction,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
170,11/15/2018,15:33,BRONX,40.807808,-73.923840,"(40.807808, -73.92384)",1.0,0.0,0,0,...,0,1,0,Other Vehicular,Failure to Yield Right-of-Way,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
175,11/15/2018,15:35,QUEENS,40.752470,-73.831970,"(40.75247, -73.83197)",1.0,0.0,0,0,...,0,1,0,Pavement Slippery,Pavement Slippery,Taxi,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
178,11/15/2018,15:38,MANHATTAN,40.822110,-73.948090,"(40.82211, -73.94809)",2.0,0.0,0,0,...,0,2,0,Pavement Slippery,Pavement Slippery,Taxi,Sedan,Taxi,Sedan,NaN
187,11/15/2018,15:50,BROOKLYN,40.661217,-73.931410,"(40.661217, -73.93141)",0.0,0.0,0,0,...,0,0,0,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,Driver Inexperience,Bike,Sedan,NaN,NaN,NaN
197,11/15/2018,16:00,BROOKLYN,40.658222,-73.950360,"(40.658222, -73.95036)",0.0,0.0,0,0,...,0,0,0,Passing or Lane Usage Improper,Pavement Slippery,Box Truck,Sedan,NaN,NaN,NaN
216,11/15/2018,16:10,QUEENS,40.696644,-73.807410,"(40.696644, -73.80741)",0.0,0.0,0,0,...,0,0,0,Pavement Slippery,View Obstructed/Limited,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
220,11/15/2018,16:14,QUEENS,40.757310,-73.883790,"(40.75731, -73.88379)",0.0,0.0,0,0,...,0,0,0,Pavement Slippery,Backing Unsafely,Station Wagon/Sport Utility Vehicle,Motorcycle,NaN,NaN,NaN
226,11/15/2018,16:17,MANHATTAN,40.771720,-73.984886,"(40.77172, -73.984886)",0.0,0.0,0,0,...,0,0,0,Pavement Slippery,Pavement Slippery,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN
227,11/15/2018,16:19,QUEENS,40.738740,-73.888250,"(40.73874, -73.88825)",0.0,0.0,0,0,...,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
232,11/15/2018,16:30,BROOKLYN,40.707806,-73.951740,"(40.707806, -73.95174)",0.0,0.0,0,0,...,0,0,0,Pavement Slippery,Other Vehicular,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
245,11/15/2018,16:43,QUEENS,40.597380,-73.764980,"(40.59738, -73.76498)",0.0,0.0,0,0,...,0,0,0,Pavement Slippery,Pavement Slippery,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
251,11/15/2018,16:47,MANHATTAN,40.823257,-73.942930,"(40.823257, -73.94293)",1.0,0.0,0,0,...,0,1,0,Pavement Slippery,Pavement Slippery,Station Wagon/Sport Utility Vehicle,Garbage or Refuse,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN
255,11/15/2018,16:50,QUEENS,40.677505,-73.817860,"(40.677505, -73.81786)",0.0,0.0,0,0,...,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
323,11/15/2018,19:25,QUEENS,40.702770,-73.826080,"(40.70277, -73.82608)",1.0,0.0,0,0,...,0,1,0,Driver Inattention/Distraction,Driver Inattention/Distraction,Sedan,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN
324,11/15/2018,19:27,BROOKLYN,40.686300,-74.004510,"(40.6863, -74.00451)",0.0,0.0,0,0,...,0,0,0,Turning Improperly,Traffic Control Disregarded,Sedan,Van,NaN,NaN,NaN
326,11/15/2018,19:30,QUEENS,40.700080,-73.743140,"(40.70008, -73.74314)",0.0,0.0,0,0,...,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
331,11/15/2018,1:20,BROOKLYN,NaN,NaN,NaN,1.0,0.0,0,0,...,0,1,0,Reaction to Uninvolved Vehicle,Reaction to Uninvolved Vehicle,Sedan,Sedan,NaN,NaN,NaN
332,11/15/2018,1:40,MANHATTAN,40.760254,-73.967545,"(40.760254, -73.967545)",0.0,0.0,0,0,...,0,0,0,Failure to Yield Right-of-Way,Failure to Yield Right-of-Way,Taxi,Pick-up Truck,NaN,NaN,NaN
342,11/15/2018,20:30,QUEENS,40.673027,-73.843254,"(40.673027, -73.843254)",0.0,0.0,0,0,...,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,Sedan,Sedan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1385617,07/01/2012,14:35,BROOKLYN,40.631322,-73.902330,"(40.6313217, -73.9023297)",0.0,0.0,0,0,...,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1385619,07/01/2012,14:40,MANHATTAN,40.815691,-73.958295,"(40.8156907, -73.9582947)",2.0,0.0,0,0,...,0,2,0,Other Vehicular,Prescription Medication,TAXI,PASSENGER VEHICLE,NaN,NaN,NaN
1385624,07/01/2012,14:57,MANHATTAN,40.786808,-73.945230,"(40.786808, -73.9452296)",0.0,0.0,0,0,...,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,LIVERY VEHICLE,BUS,NaN,NaN,NaN
1385647,07/01/2012,15:35,QUEENS,40.691359,-73.837536,"(40.6913591, -73.8375359)",0.0,0.0,0,0,...,0,0,0,Driver Inattention/Distraction,Fatigued/Drowsy,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1385658,07/01/2012,16:00,MANHATTAN,40.722355,-73.993261,"(40.722355, -73.9932609)",0.0,0.0,0,0,...,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,LARGE COM VEH(6 OR MORE TIRES),PASSENGER VEHICLE,NaN,NaN,NaN
1385666,07/01/2012,16:05,BROOKLYN,40.630927,-73.921367,"(40.6309273, -73.921367)",0.0,0.0,0,0,...,0,0,0,Failure to Yield Right-of-Way,Driver Inattention/Distraction,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1385667,07/01/2012,16:08,MANHATTAN,40.765520,-73.980037,"(40.7655201, -73.9800367)",0.0,0.0,0,0,...,0,0,0,Traffic Control Disregarded,Driver Inattention/Distraction,SPORT UTILITY / STATION WAGON,TAXI,NaN,NaN,NaN
1385668,07/01/2012,16:10,MANHATTAN,40.765614,-73.960691,"(40.7656139, -73.9606907)",0.0,0.0,0,0,...,0,0,0,Other Vehicular,Driver Inattention/Distraction,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN
1385673,07/01/2012,16:15,QUEENS,40.733800,-73.814801,"(40.7338001, -73.8148012)",1.0,0.0,0,0,...,0,1,0,Outside Car Distraction,Outside Car Distraction,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1385684,07/01/2012,16:30,BROOKLYN,40.606328,-73.996463,"(40.6063279, -73.9964634)",2.0,0.0,0,0,...,0,2,0,Driver Inattention/Distraction,Lost Consciousness,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1385690,07/01/2012,16:41,QUEENS,40.707929,-73.783825,"(40.7079288, -73.783825)",0.0,0.0,0,0,...,0,0,0,Pavement Slippery,Turning Improperly,LIVERY VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1385729,07/01/2012,18:00,BROOKLYN,40.679680,-73.978249,"(40.6796802, -73.9782489)",0.0,0.0,0,0,...,0,0,0,Fatigued/Drowsy,Fatigued/Drowsy,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1385740,07/01/2012,18:05,QUEENS,40.678843,-73.754179,"(40.6788433, -73.754179)",0.0,0.0,0,0,...,0,0,0,Physical Disability,Physical Disability,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
1385749,07/01/2012,18:24,QUEENS,40.777422,-73.922649,"(40.7774218, -73.9226491)",0.0,0.0,0,0,...,0,0,0,Backing Unsafely,Backing Unsafely,UNKNOWN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1385768,07/01/2012,18:55,MANHATTAN,40.824078,-73.948884,"(40.8240775, -73.9488844)",0.0,0.0,0,0,...,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN
1385779,07/01/2012,19:07,STATEN ISLAND,40.605811,-74.129109,"(40.6058107, -74.1291089)",0.0,0.0,0,0,...,0,0,0,Oversized Vehicle,Other Vehicular,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1385805,07/01/2012,1:01,BROOKLYN,40.681852,-73.980036,"(40.6818517, -73.9800365)",0.0,0.0,0,0,...,0,0,0,Backing Unsafely,Illness,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
1385825,07/01/2012,20:05,QUEENS,40.774862,-73.908903,"(40.7748619, -73.9089033)",0.0,0.0,0,0,...,0,0,0,Lost Consciousness,Prescription Medication,PASSENGER VEHICLE,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN
1385842,07/01/2012,21:00,BRONX,40.841818,-73.922437,"(40.8418183, -73.9224369)",0.0,0.0,0,0,...,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1385848,07/01/2012,21:12,MANHATTAN,40.759899,-73.980425,"(40.7598989, -73.9804246)",0.0,0.0,0,0,...,0,0,0,Driver Inattention/Distraction,Lost Consciousness,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1385899,07/01/2012,2:30,MANHATTAN,40.764162,-73.968890,"(40.7641617, -73.9688897)",1.0,0.0,0,0,...,0,0,0,Other Vehicular,Passenger Distraction,TAXI,BICYCLE,NaN,NaN,NaN
1385919,07/01/2012,3:30,BROOKLYN,40.616509,-73.933919,"(40.6165086, -73.9339188)",0.0,0.0,0,0,...,0,0,0,Other Vehicular,Other Vehicular,PASSENGER VEHICLE,AMBULANCE,NaN,NaN,NaN
1385920,07/01/2012,3:30,BROOKLYN,40.681343,-73.965510,"(40.6813432, -73.9655103)",0.0,0.0,0,0,...,0,0,0,Alcohol Involvement,Alcohol Involvement,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN
1385925,07/01/2012,3:58,MANHATTAN,40.721986,-73.985515,"(40.7219864, -73.9855153)",0.0,0.0,0,0,...,0,0,0,Passenger Distraction,Passenger Distraction,PASSENGER VEHICLE,LIVERY VEHICLE,NaN,NaN,NaN
1385926,07/01/2012,4:00,QUEENS,40.747137,-73.892408,"(40.7471367, -73.8924084)",0.0,0.0,0,0,...,0,0,0,Lost Consciousness,Prescription Medication,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1385948,07/01/2012,5:50,MANHATTAN,40.765365,-73.987578,"(40.7653647, -73.987578)",0.0,0.0,0,0,...,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,TAXI,UNKNOWN,NaN,NaN,NaN
1385952,07/01/2012,6:30,MANHATTAN,40.848120,-73.930884,"(40.8481201, -73.9308839)",0.0,0.0,0,0,...,0,0,0,Backing Unsafely,Fatigued/Drowsy,BUS,PASSENGER VEHICLE,NaN,NaN,NaN
1385962,07/01/2012,7:20,MANHATTAN,40.781430,-73.954178,"(40.7814295, -73.9541782)",0.0,0.0,0,0,...,0,0,0,Other Vehicular,Other Vehicular,PASSENGER VEHICLE,VAN,NaN,NaN,NaN
1385993,07/01/2012,9:40,MANHATTAN,40.714069,-73.997504,"(40.7140687, -73.9975038)",0.0,0.0,0,0,...,0,0,0,Driver Inexperience,Driver Inexperience,PASSENGER VEHICLE,LIVERY VEHICLE,NaN,NaN,NaN
1386000,07/01/2012,9:57,MANHATTAN,40.765242,-73.957868,"(40.7652424, -73.9578679)",0.0,0.0,0,0,...,0,0,0,Other Vehicular,Other Vehicular,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN

In [19]:
df.to_csv('data_1.1.csv', index=False)